# environment.rb.sample
# Copy this file to environment.rb and change the name and password to your credentials
ENV['VERSION'] = '1'
ENV['RACK_ENV'] = 'development'

# These are your facebook app api credentials
ENV['fb_app_id'] = 'a'
ENV['fb_app_secret'] = 'b'

# Slack client id and secret
ENV['slack_client_id'] = 'c'
ENV['slack_client_secret'] = 'd'

# postgres db
ENV['DATABASE_URL'] = 'postgres://admin:admin@localhost:5432/truckstop'

# New Relic
ENV['NEW_RELIC_LICENSE_KEY'] = 'e'